/* Estilos para la ventana emergente de cookies */
.cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    display: none; /* Inicialmente oculto */
    z-index: 1000;
}

.cookie-popup-content {
    max-width: 800px;
    margin: 0 auto;
}

.cookie-popup-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.cookie-popup-content button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cookie-popup-content button:hover {
    background-color: #45a049;
}

/* Estilos para la imagen centrada */
.centrar {
    display: block;
    margin: 0 auto;
}
